body{

font-family: 'Quicksand', sans-serif;

}
a{
  text-decoration:none;
  color:#006666;
}
a:hover{
  color: #ff6b51;
  transition: 0.5s ease;
}

.container{
  width:950px;
  margin:0 auto;
  padding-top:5%;
}
h1{
  font-family: 'Corben', cursive;
}
h3{
  font-family: 'Corben', cursive;
}
nav{
  float:right;
  width: 100%;
  padding: 0 2%;
  background-color: #e6fef8;
  text-align:right;
  margin-top:-10px;
}

nav ul li{
    display:inline-block;
  list-style:none;
  padding:.2em;
}
#tags{

  float:left;
  margin-left: 30%;
  border: 1px dashed #057a5d;
  border-radius:10px;
  padding:2%;

}
#tags ul{
  list-style:none;
 padding-left:0;
 text-align:center;
}
#entries{
  float:left;

}

.entry{
  padding: 5% 0;
  border-bottom: 1px solid #057a5d;
}

#auth{
  color:#00804d;
  font-size:.8em;
}

.entry a{
  text-decoration: none;
}
.user{
  width:600px;
  margin: 0 auto;
  text-align:center;
}
.user input{
  padding: 1em;
  border:1px solid #333;
  border-radius: 8px;
  font-size:1em;
width:100%;
margin:2%;
text-align:center;
}
.user #button{
  background-color: #ff6b51;
  width:640px;

}

.entry{
  width:600px;
  margin: 0 auto;

}
.entry input{
  padding: 1em;
  border:1px solid #333;
  border-radius: 8px;
  font-size:1em;
width:45%;
margin:2%;

}
.entry #button{
  background-color: #ff6b51;
  width:25%;
  float:right;

}
.entry textarea{
  width:600px;
  height:350px;
}
