<link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Corben' rel='stylesheet' type='text/css'>
<div class="container">
<h1>sign up</h1>

<form class="user" method="post" action="/users">
  <input id="username" type="text" name="user[username]" placeholder="username">
  <input id="email" type="text" name="user[email]" placeholder="email">
  <input id="password" type="password" name="user[password]" placeholder="password">
  <input id="button" type="submit" value="sign up">
</form>
</div>
