<link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Corben' rel='stylesheet' type='text/css'>
<div class="container">

<h1>log in</h1>

<form class="user" method ="post" action="/login">
  <input type="text" name="user[username]" placeholder="username">
  <input type="password" name="user[password]" placeholder="password">
  <input id="button" type="submit" value="login">
</form>
</div>
